

.video-container {
    height: 100vh;
    position: relative;
    overflow: hidden;
    /* @media(min-width: 600px) {
      height: 100vh;
    } */
  }
  
  video {
    object-fit: cover; 
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  .card{
      /* opacity: 0.8; */
      /* opacity: 0.8; */
      background-color: rgb(68 81 110 / 50%);
      /* background-color: rgba(255,255,255, 0.7); */

  }

 
  

 
  
  .video-container:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(black, .2);
    z-index: 1;
  }
  
  h2 {
    text-transform: uppercase;
    font-weight: 900;
    margin: 0 0 1rem;
    padding: 0;
    line-height: 1;
    font-family: Futura, Helvetica, sans-serif;
    font-size: 5vw;
    @media (max-width: 400px) {
      font-size: 22px;
    }
    @media (min-width: 1200px) {
      font-size: 75px;
    }
  }
  h1 , h3{
    color: white;
     text-align: center; 
     text-shadow: #20a8d8 2px 0 10px;
  }
  img{
    position: relative;
     top: 50px;
  }
  .app-body{
      margin-bottom: 120px;
  }
  
  .callout {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
    position: relative;
    z-index: 10;
  }
  
  

  .container {
    width: 300px;
    height: 300px;
    border: 1px black solid;
}

.centered-element{
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
    padding: 15px;
    width: 120px;
}
.input-with-dashes::placeholder {
  
  font-family: monospace; /* Utilisez une police monospace pour une largeur uniforme des caractères */
  color: #999999; /* Couleur grise pour les tirets */
  letter-spacing: 1px; /* Espacement entre les caractères */
}